.inner {
  @mixin light {
    color: var(--mantine-color-gray-7);
  }

  @mixin hover {
    @mixin light {
      color: black;
    }

    @mixin dark {
      color: white;
    }
  }
}

.playerTypeButtom {
  color: var(--icon-color);

  @mixin hover {
    background-color: var(--background-color);
    color: var(--icon-hover-color);
  }
}
