.button {
  @mixin light {
    background-color: var(--mantine-color-gray-1);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.inner {
  color: var(--sc-transition-duration) var(--sc-transition-timing-function);

  @mixin light {
    background-color: var(--mantine-color-gray-1);
    color: var(--mantine-color-gray-7);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.selected {
  @mixin light {
    background-color: white;
    color: black;
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-5);
    color: white;
  }

  box-shadow: var(--mantine-shadow-xs);
}

.button {
  @mixin hover {
    .inner {
      @mixin light {
        color: black;
      }

      @mixin dark {
        color: white;
      }
    }
  }
}
